
body {
  background-color: #f1f1f1;
  margin-top: 0;
}

.App {
  background-color: #fff;
  width: 60%;
  padding: 15px;
  margin: auto;
}

.App > div:nth-of-type(3) {
  margin-top: 70px;
}

.dimmer {
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 99;
}

.dimmer.active {
  background-color: rgba(0,0,0,0.7);
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .App {
    width: 98vw;
    padding: 15px 1vw;
    overflow: hidden;
  }
}
